body{
    background-image: url(../img/pngwing.com.png);
    background-size: 100px;
}

table {
    border: 3px solid rgb(37, 34, 34);
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
    background-color: whitesmoke;

}

.game-board td {
    color: black;
    border-radius: 5px;
    border: 2px solid;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.game-board td:hover {
    background-color: rgb(141, 141, 246);

}

.timer {
    padding: 2px;
    background-color: rgb(39, 35, 35);
    color: rgb(217, 41, 41);
    text-align: center;
    margin:50px auto;
    width: 40px;
    height: 20px;
    border: 2px solid black;
    border-radius: 4px;
}

button {
    /* margin-left:200px; */
    margin: 10px auto;
    height:40px;
    width: 60px;
    font-size: 25px;
    text-align: center;
    padding: auto;
    /* border: 2px solid black; */
    border-radius: 3px;
    display: block;
    cursor: pointer;
}


.shown {
    background-color: #bab5b5;
}

.mine {
    background-color: red;
}

.controls{
    background-color:rgba(255, 255, 255, 0);
    border: 0px;
}

button.btn-grad {
    text-align: center;
    /* padding: 5px; */
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

button.btn-grad:hover {

    background-color: white;
}

.life{
    margin:5px auto;
    text-align: center;
    color: red;
    font-size: 33px;
    width: 100px;
    height: 50px;
}

.cell.neig-count-1 {
    border: 2px solid black;
    color: blue;

}

.cell.neig-count-2 {
    border: 2px solid black;
    color: green;
}

.cell.neig-count-3 {
    border: 2px solid black;
    color: red;
}

.cell.neig-count-4 {
    border: 2px solid black;
    color: brown;
}

.cell.neig-count-5 {
    border: 2px solid black;
    color: purple;
}
.cell.neig-count-6{
    border: 2px solid black;
    color: darkblue;
}

.cell.neig-count-7{
    border: 2px solid black;
    color: pink;
}

.cell.neig-count-8{
    border: 2px solid black;
    color: yellow;
}



